table{
    width:100%;
}

th{
    background-color: black;
    color:white;
    font-size: 15px;
    font-weight: bold;

}
th.mat-header-cell{
    text-align: center;
}

.table-container{
    height:600px;
    overflow-x:auto; 
}